[user]
	email = karethoth@gmail.com
	name = Arttu Multanen
[color]
	ui = auto
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[merge]
	stat = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ca = commit -a
